body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #000;
    color: #fff;
    font-family: Arial, Sans-Serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
}

#page-top {
    margin: 0 auto;
    position: relative;
    background: #ca7100;
    padding: 20px 0;
}

#page-top img {
    margin: 0 auto;
    width: 100%;
}

.callouts {
    text-align: center;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
}
.callouts img {
    margin: 0 auto;
    margin-right: 10px;
}

.callouts img:last-child {
    margin-right: 0;
}